/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: #efebfa;
}

img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header{
    width: 100%;
    height: 100%;
    padding-top: 6rem;
}

header .container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    
}

header .container .left{
    flex: 6;
}

header .container .left .name{
    font-size: 2.5rem;
    font-weight: 900;
    color: #5924ed;
    margin-bottom: 1rem;
    opacity: 0;
    animation: fade 0.3s ease-in forwards;
}

header .container .left .heading{
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 5.5rem;
    margin-bottom: 3rem;
}

header .container .left p{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

header .container .left .heading .wrapper{
    display: inline-block;
    overflow: hidden;
}

header .container .left .heading .wrapper span{
    position: relative;
    top: 70px;
    animation: reveal 1s ease-in-out forwards;
}

@keyframes reveal {
    0%{
        top: 70px;
    }
    100%{
        top: 0;
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

header .container .button{
    display: flex;
    justify-content:center;
    gap: 20px;
}

header .container .button a{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    padding: 1.1rem 3rem;
    background-color: #5924ed;
    border-radius: 50px;
    
}

header .container .button i{
    font-size: 4.4rem;
    color: #5924ed;
    cursor: pointer;
}

header .container .right{
    flex: 8;
    text-align: right;
}

header .container .right img{
    width: 100%;
    max-width: 450px;
    height: 600px;
    object-fit: cover;
    border-radius: 12px;
}

/* header done here  */

@media only screen and (max-width:750px){

    header .container{
        display: flex;
        gap: 20px;
    }

    html{
        font-size: 8px;
    }

    header .container .left{
        flex: 6;
    }

    header .container .right{
        flex: 5;
    }

    header .container .left .name{
        margin-bottom: 2rem;
        font-size: 2.5rem;
        
    }
}

@media only screen and (max-width:475px){
    html{
        font-size: 6px;
    }

    header .container{
        flex-direction: column-reverse;
        text-align: center;
        

    }

    header .container .left .button{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .container .left .button a{
        padding: 1.5rem 3rem;
    }

    header .container .left .button i{
        font-size: 5.3rem;
    }

    header .container .left .heading{
        font-size: 4.2rem;
        line-height: 4rem;
        margin-bottom: 3rem;
    }
    header .container .left .para{
        font-size: 1.8rem;
    }

    header .container .right{
        text-align: center;
        
    }

    header .container .right img{
        text-align: center;
        width:80%;
        height: 20%;
    }

    header .container .left .name{
        font-size: 4rem;
    }

    
}


/* Header section ends here  */


/* service section starts here  */

.services{
    width: 100%;
    padding: 10rem 0;
}

.services .container{
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.services .container h1{

    text-align: center;
    font-size: 8rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10rem;
    position: relative;
}

.services .container h1::before{
    content: "SERVICES";
    position: absolute;
    left: 2%;
    top: -19%;
    width: 100%; 
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 1.5px #5a24ed2f;
    z-index: -1;
}

.services .container .master_box{
    display: flex;
}

.services .container .box{
    flex: 3;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    transition: 0.3s ease-in-out background-color;
}

.master_box .box1:hover{
    background-color:rgba(96, 150, 231, 0.37) ;
}

.master_box .box2:hover{
    background-color:rgba(93, 216, 149, 0.493) ;
}

.master_box .box3:hover{
    background-color:#764ee280;
}

.services .container .box h3{
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.services .container .box p{
    font-size: 1.6rem;
    font-weight: 600;
    color: #48464b;
    line-height: 2.5rem;
}

.master_box .box .cricle{
    font-size: 2rem;
    display: inline-block;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem
}

.master_box .box .cricle_one{
    background-color:rgb(7 106 255 / 37%) ;
}

.master_box .box .cricle_two{
    background-color: rgba(0, 255, 115, 0.493);
}

.master_box .box .cricle_three{
    background-color: #4705fc80;
}


@media only screen and (max-width:750px){

    .services{
        margin-top: 3rem;
    }

    .services .container{
        width: 100%;
        padding: 0 2rem;
    }

    .services .container h1{
        margin-bottom: 4rem;
    }

    .master_box .box1{
        background-color:rgba(96, 150, 231, 0.37) ;
        margin-bottom: 2rem;
    }

    .master_box .box2{
        background-color:rgba(93, 216, 149, 0.493);
        margin-bottom: 2rem;
    }

    .master_box .box3{
        background-color:#764ee280 ;
    }

    .master_box{
        display: flex;
        flex-direction: column ;
        text-align: center;
    }

    .master_box .box .cricle{
       margin: 0 auto;
       font-size: 3rem;
       width: 80px;
       height: 80px;
       margin-bottom: 2rem;
    }

    .master_box .box h3{
        font-size: 3rem !important;
    }

    .services .container h1{
        font-size: 6.5rem;
    }
}

@media only screen and (max-width:475px){
    .services .container{
        width: 100%;
        padding: 0 2rem;
    }

    .master_box .box p{
        font-size: 2.3rem  !important;
    }

    .master_box .box{
        padding: 3rem 1rem !important;
    }
}

/* service section ends here  */


/* Testimonial section starts here  */

.testimonial{
    width: 100%;
    padding: 10rem 0;
}

.testimonial .container{
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10rem 0;
    text-align: center;
    
    
}

.testimonial .container h2{
    font-size: 7rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8rem;
    position: relative;
}

.testimonial .container h2::before{
    content: "TESTIMONIAL";
    position: absolute;
    left: 2%;
    top: -19%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 1.5px #5a24ed2f;
    z-index: -1;
}

.master_testi{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.testi{
    flex: 3;
    text-align: center;
    position: relative;
    padding: 1rem 2.2rem;

}

.testitwo{
    flex: 4;
}

.testi .paratesti{
    font-size: 1.7rem;
    font-weight: 600;
    color: #48464b;
}

.testi h3{
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

.testi i{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #5924ed;
}

.testi .testides{
    font-size: 1.5rem;
    font-weight: 600;
    color: #48464b;
    margin-bottom: 1rem;
}

.master_testi .testi::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 45px;
	z-index: -1;
	box-shadow: 0px 0px 20px 0px #4705fc1f;
}

.testione::after {
	transform: skew(2deg, 9deg);
	height: 95%;
	border-radius: 52px 30px 59px 60px;
}

.testitwo::after {
	transform: skew(350deg, 354deg);
	border-radius: 26px 67px 35px 67px;
	height: 100%;
}

.testithree::after {
	transform: skew(2deg, 9deg);
	height: 95%;
	border-radius: 52px 30px 59px 60px;
}


.testiimg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.testiimg img{
    object-fit: cover;
}


@media only screen and (max-width:950px){
    .master_testi{
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }


}

@media only screen and (max-width:400px){
    .testimonial .container h2{
        font-size: 5rem;
    }
}


/* Testimonial Done Here  */

/* stats starts  here  */

.stats{
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10rem 0;
    text-align: center;
}

.container .statss{
    font-size: 8rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6.5rem;
    position: relative;
}

.container .statss::after{
    content: "STATS";
    position: absolute;
    left: 2%;
    top: -19%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 1.5px #5a24ed2f;
    z-index: -1;
}

.container .stats_items{
    font-family: 'Poppins', sans-serif;
    display: flex;
     
}

.statsbox{
    text-align: start;
    padding: 2rem 1.5rem;
}

.statsbox h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 8rem;
}

.statsbox h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
}

.statsbox p{
    font-size: 1.6rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

.statsone{
    background-color: rgba(255, 238, 0, 0.322);
}

.statstwo{
    background-color: rgba(0, 255, 115, 0.329);
}

.statsthree{
    background-color: #4705fc50;
}


@media only screen and (max-width:850px){
    .stats_items{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width:475px){
    .stats .container{
        width: 95%;
    }
}

/* stats starts here  */

/* About Section Starts here  */


.about{
    width: 100%;
}

.about .container{
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10rem 2rem;
    text-align: center;
}

.about .container h2{
    font-size: 8rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 11rem;
    position: relative;
}

.about .container h2::after{
    content: "ABOUT";
    position: absolute;
    left: 2%;
    top: -19%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 1.5px #5a24ed2f;
    z-index: -1;
}

.main_card_section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.main_card_section .left_card_section{
    text-align: center;
    flex: 4;
}

.left_card{
    box-shadow: 0 0 20px #4705fc33;
    padding: 3rem;
    border-radius: 1.5rem;
}   

.left_card .card_img{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2rem;
    
}

.left_card .card_img img{
    object-fit: cover;
    border-radius: 1rem;
    
}

.left_card .card_desc{
    font-size: 1.5rem;
    font-weight: 500;
    color: #48464b;
    margin-bottom: 2rem;
}

.left_card h3{
    font-size: 2.1rem;
    font-weight: 800;
    font-family: 'Roboto Mono', monospace;
}

.left_card .posi{
    font-size: 1.4rem;
    font-weight: 600;
}

.main_card_section .right_card_section{
    display: flex;
    flex-direction: column;
    flex: 9;
    text-align: left !important;
    
}

.right_card_section .intro{
    font-size: 1.7rem;
    font-weight: 600;
    color: #5924ed;
    margin-bottom: 1.7rem;
}

.right_card_section h3{
    font-size: 2.7rem;
    font-weight: 1000;
    margin-bottom: 2.5rem;
}

.right_card_section .desc{
    font-size: 1.6rem;
    font-weight: 500;
    color: #48464b;
    margin-bottom: 2rem;
}

.right_card_section .button{
    padding: 2rem 0;
    display: flex;
    gap: 2.5rem;
}


.right_card_section .button .resume{
    font-size: 1.8rem;
    font-weight: 800;
    color: #fff;
    padding: 1.1rem 3rem;
    background-color: #5924ed;
    border-radius: 50px;
}

.right_card_section .button a{
    font-size: 1.6rem;
    font-weight: 600;
    color: #5924ed;
    padding: 1.1rem 3rem;
    border: 3px solid #5924ed;
    border-radius: 50px;
}

@media only screen and (max-width:750px){
    .about .container{
        width: 90%;
    }

    .main_card_section{
        display: flex;
        flex-direction: column-reverse;
        
    }

    .main_card_section .right_card_section {
        align-items: center;
        
    }

    .main_card_section .right_card_section .desc{
        text-align: center;
    }

    .main_card_section .right_card_section .intro{
        font-size: 3rem;
    }
    
}


/* about section ends here  */



/* Project section starts here  */

.project{
    width: 100%;
}

.project .container{
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 8rem 2rem;
    text-align: center;
}

.project .container h2{
    font-size: 8rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 11rem;
    position: relative;
}

.project .container h2::after{
    content: "PROJECTS";
    position: absolute;
    left: 2%;
    top: -19%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 1.5px #5a24ed2f;
    z-index: -1;
}

.realchat{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom:10rem;
}

.realchat .left{
    flex: 1;
}

.realchat .left .img{
    height: 500px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #4705fc33;
    overflow: hidden;
}

.realchat .left .img img{
    object-fit: cover;
    transition: 0.3s ease transform;
}

.realchat .right{
    flex: 1;
    text-align: left;
    margin-left:-150px ;
    padding: 5rem 3rem;
    border-radius: 12px;
    background-color: #efebfa;
    box-shadow: 0px 0px 20px #00000028;
    
}

.realchat .right h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

.realchat .right h3{
    font-size: 1.6rem;
    font-weight: 900 ;
    margin-bottom: 1rem;
}

.realchat .right p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    font-weight: 800;
    color: #48464b;
}

.realchat .right .knowmoreb{
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: #5924ed;
    padding: 1.1rem 3rem;
    border-radius: 50px;
}

.realchat .right .preview{
    font-size: 1.6rem;
    font-weight: 600;
    color: #5924ed;
    border: 2px solid #5924ed;
    padding: 1.1rem 3rem;
    border-radius: 50px;
}

.zaman{
    display: flex;
    flex-direction: row-reverse;
}

.zaman .right{
    margin-left: 0;
}

.zaman .left{
    margin-left: -150px;
}